@import "tailwindcss";

@layer base {
  body {
    background-color: #1e1e20;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-synthesis: style;
  }
}
